.card1 {
  
    height: 100%;
    width: 100% !important;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 2px 2px 22px rgba(19, 18, 18, 0.7);
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius:16;
    backdrop-filter: blur(10px);
  }
  .card2 {
    height: 100%;
    min-width: 100%;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 2px 2px 22px rgba(19, 18, 18, 0.7);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius:16;
    backdrop-filter: blur(10px);
  }
  .hello {
    max-width: 800px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .upper table {
    min-width: 200px !important;
  }
  .upper table td {
    font-size: 20px;
    line-height: 35px;
    color: white !important;
    
  }
  .side-icon {
    width: 60px;
    color: white !important;
  }
  
  .bg-img {
    background-image: url("https://images.unsplash.com/photo-1633887998584-721fe3eae41a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=449&q=80");
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bx1 h3, .bx1 h4{
    color:white
  }
  